

.app-container{
   display: flex;
}
.content{
   width: 100%;
}

.sidebar{
   min-height: 100vh;
}

.post-card{
   width: 25rem;
   margin:20px 25px;
   padding: 5px;
   border: 2px solid black;
}
.hashtag{
   margin: 5px;
}
.reaction{
   margin: 15px 0 0 0;
}
.create-post{
   width: 80%;
   margin-left: 10%;
   margin-top: 50px;
}
.welcome-msg{
   margin-top: 16%;
}   
.button{
   margin-top: 5%;
}
.fotterC{
   position: relative;
}
.spinner{
   margin: 10%;
   width: 5rem;
   height: 5rem;
}